body{
   background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/2AL7S2EIBBAXPHVK4BVO47QHPM.jpg)no-repeat fixed;
    background-size: cover;
 }
 #info{
     color:chocolate;
     font-family: 'Berlin Sans FB Demi';
     font-size: 36pt;
     font-style: italic;
     text-align: center;    
 }
 .pie{
   font-size: 20pt;
   background-color:black;
   color: aliceblue;
}
 #logo{
     text-align: center;
 }
 #inf{
    color: aliceblue;
    font-size: 14pt;
    text-align: center;
 }
#if{
    text-align: center;
 }
 #subr{
    font-size:25pt;
    color:coral ;
 }
 #subb{
    color:darkorange;

 }
 #in{
    color: aliceblue;
    font-size: 14pt;
 }
 #ded{
   color: aliceblue;
 }
 #tret{
   color:chocolate;
 }
 #ns{
   text-align: center;
}
#rara{
   color:darkgoldenrod;
}
#suba{
font-family: 'Berlin Sans FB Demi';
color: chocolate;
text-align: center;
font-size: 30pt;
}
#subaa{
   text-align: center;
font-size: 14pt;
}
#linea{
   color:orange;
}
.header .navbar {
   background-color: transparent !important;
 }
 #navv{
   color:aliceblue;
 }
#nav1{
   
   background-color: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75))coral;
} 
.carousel-inner img{
   width: 500px;
   height: 600px;
}#logopie{
   float: left;    
   background-color:black;
   } .header .navbar {
      background-color: transparent !important;
    }